/* 通用設定 */

/* display */
.d-b{
    display: block;
  }
  
  .d-ib{
    display: inline-block;
  }
  
  /* width */
  .w-50{
    width: 50%;
  }
  
  /* padding */
  .pr-3{
    padding-right: 12px;
  }
  
  .pl-3{
    padding-left: 12px;
  }
  
  .pd-12-0{
    padding: 48px 0;
  }
  
  .pd-16-0{
    padding: 64px 0;
  }
  
  /* margin */
  .ml-auto{
    margin-left: auto;
  }
  
  .mt-40{
    margin-top: 160px;
  }
  
  .mt-20{
    margin-top: 80px;
  }
  
  .mt-10{
    margin-top: 40px;
  }
  
  .mt-4{
    margin-top: 16px;
  }
  
  .mt-3{
    margin-top: 12px;
  }
  
  .mt-2{
    margin-top: 8px;
  }
  
  .mr-10{
    margin-right: 40px;
  }