<footer class="footer mt-40">
    <div class="container">
      <ul class="social-list pd-16-0" data-aos="zoom-in-up" data-aos-anchor-placement="center-bottom">
        <li class="d-ib mr-10"><a href="https://www.facebook.com/" target="_blank"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/fb.png?raw=true" alt="FB"></a></li>
        <li class="d-ib mr-10"><a href="https://www.instagram.com/" target="_blank"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/instagram.png?raw=true" alt="IG"></a></li>
        <li class="d-ib"><a href="https://line.me/" target="_blank"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week1/line.png?raw=true" alt="Line"></a></li>
      </ul>
    </div>
  </footer>